/* Creado por NuEv3CaoS */

* { }

html, body { }

body {
	background: black;
	color: white;
	font-size: 25px;
	margin: 0;
	padding: 60px 0 0 0;
	font-family: sans-serif;
}
.page {
	margin: 0px auto;
    width: 100%;
   
}

/* Web */
.cabecera {
	width: 100%;
	height: auto;
	background: transparent;
	position: absolute;
	top: 0px;
}
#logo {
	width: 200px;
	height: 70px;
	display: block;
	margin: auto;
}
.redes {
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 20px;
}
.presen{
	display: block;
	margin: auto;
	position: relative;
	top: 10px;
	width: auto;
	height: auto;
	text-align: center;
	font-size: 20px;
	background: black;
	border-radius: 10px 7px 10px 7px;
}
.presenUno{
	display: block;
	margin: auto;
	position: relative;
	top: 10px;
	width: auto;
	height: auto;
	text-align: center;
	font-size: 20px;
	background: black;
	border-radius: 10px 7px 10px 7px;
}
#creo {
	top: 15px;
	position: relative;
	color: silver;
}
#creoUno {
	top: 15px;
	position: relative;
	color: silver;
	font-size: 25px;
}
.captu{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.captura {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.caos {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#mages {
	display: block;
	margin: auto;
	width: 350px;
	height: 190px;
	position: relative;
	top: 30px;
	border-radius: 10px 13px 10px 13px;
}

a {
	text-decoration: none;
	color: #f9e79f;
}
a:hover {
	color: #52be80;
;
}
.pie {
	position: relative;
	color: silver;
	font-family:  courier;
	font-size: 19px;
	top: 50px;
	text-align: center;
	background: #261c2c;

}
/* pageChaos */
.presenDos{
		position: relative;
		top: 0px;
		width: 50px;
		height: 50px;
	}

	.caosDos {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		top: 0px;
		position: relative;margin-left: 5px;
	}
	#creoDos {
		top: 0px;
		position: relative;
		color: silver;
		font-size: 15px;margin-left: 5px;
	}
	#creoDos:hover {
		color: #ff073a;
	}
/* The end pageChaos */

/* SCREEN */

@media screen and (min-width: 768px) {

	#logo {
		width: 450px;
		height: 150px;
	}

	#mages {
		display: block;
		margin: auto;
		width: 600px;
		height: 300px;
		top: 110px;
		position: relative;
	}	
	.presen {
		width: 600px;
		top: 95px;
	}
	.presenUno {
		width: 600px;
		top: 90px;
	}
	.redes {
		top: 98px;
     }
     .caos {
     	 width: 100px;
	     height: 100px;
	     border-radius: 50%;
     }
   
	.pie {
		font-size: 23px;
		top: 160px;
	}
	/* pageChaos */
.presenDos{
		position: relative;
		top: 0px;
		width: 50px;
		height: 50px;
	}

	.caosDos {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		top: 0px;
		position: relative;margin-left: 10px;
	}
	#creoDos {
		top: 0px;
		position: relative;
		color: silver;
		font-size: 20px;margin-left: 10px;
	}
	#creoDos:hover {
		color: #ff073a;
	}
/* The end pageChaos */


}
