/* Creado por NuEv3CaoS */

* { }

html, body { }

body {
	background: black;
	color: white;
	font-size: 25px;
	margin: 0;
	padding: 60px 0 0 0;
	font-family: sans-serif;
}
.page {
	margin: 0px auto;
    width: 100%;
}

/* Web */
.cabecera {
	width: 100%;
	height: auto;
	background: transparent;
	position: absolute;
	top: 0px;
}
#logo {
	width: 200px;
	height: 70px;
	display: block;
	margin: auto;
}
iframe {
	display: block;
	margin: auto;
	width: 300px;
	height: 300px;
	position: relative;
	top: 60px;
}

a {
	text-decoration: none;
	color: gold;
}
a:hover {
	color: silver;
}
.pie {
	position: relative;
	color: silver;
	font-family:  courier;
	font-size: 19px;
	top: 50px;
	text-align: center;

}

/* SCREEN */

@media screen and (min-width: 768px) {

	#logo {
		width: 450px;
		height: 150px;
	}

	iframe {
	display: block;
	margin: auto;
	width: 600px;
	height: 300px;
	top: 160px;
	position: relative;
}


	.pie {
		font-size: 23px;
		top: 160px;
	}

}
