/* Estilos básicos de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  color: #e74c3c;
}

header {
  background: #202020;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redes {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.itc{
  width: 75px;
  height: 25px;
}
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #e74c3c;
  margin: 5px 0;
}

/* Estilo del menú */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #e74c3c;
  text-decoration: none;
  font-size: 18px;
}
.logo {
  width: 300px;
  height: 100px;
  display: block;
  margin: auto;
}
.info{
  background: transparent;
  width: 350px;
  height: auto;
  display: block;
  margin: auto;
  top: 10px;
  position: relative;
}
.parra {
  text-align: center;
  font-size: 27px;
  font-family: monospace;
  border-style: inset;
  border-color: #e74c3c;
  position: relative;
  margin: 10px;
  color: #e74c3c;
  border-left: none;
  border-right: none;
}
.infodos {
  background: transparent;
  width: 350px;
  height: auto;
  display: block;
  margin: auto;
  top: 10px;
  position: relative;
}
.parrafo {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  border-style: inset;
  border-color: darkred;
  position: relative;
  margin: 10px;
  color: #e74c3c;
  border-bottom: none;
  border-top: none;
}
.pie {
  position: relative;   
  width: 100%;  
  color: black; 
  text-align: center; 
  font-size: 13px;
  background: linear-gradient(to bottom, #e74c3c, #c0392b, #9b111e);
}
/* PROYECTO WEB */
.infota {
  background: transparent;
  width: 350px;
  height: auto;
  display: block;
  margin: auto;
  top: 10px;
  position: relative;
}
.parrata {
    text-align: center;
    font-size: 27px;
    font-family: monospace;
    position: relative;
    margin: 10px;
    color: #e74c3c;
}
 .ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  .tablerocaos {
    width: 25px;
    height: 25px;
  }
  .redes {
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }
  .itc{
    width: 75px;
    height: 25px;
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1c0d02;
  }

  .menu li {
    text-align: center;
    padding: 10px 0;
  }

  .menu-icon {
    display: flex;
  }

  .menu.show {
    display: block;
  }
  .info{
    background: transparent;
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
    top: 10px;
    position: relative;
  }
  .parra {
      text-align: center;
      font-size: 27px;
      font-family: monospace;
      border-style: inset;
      border-color: #e74c3c;
      position: relative;
      margin: 10px;
      color: #e74c3c;
      border-left: none;
      border-right: none;
  }
  .pie {
      position: relative; 
      width: 100%;  
      color: black; 
      text-align: center; 
      font-size: 13px;
      background: linear-gradient(to bottom, #e74c3c, #c0392b, #9b111e);
  }
  /* PROYECTO WEB */
  .infota{
    background: transparent;
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
    top: 10px;
    position: relative;
  }
  .parrata{
      text-align: center;
      font-size: 27px;
      font-family: monospace;
      position: relative;
      margin: 10px;
      color: #e74c3c;
  }
  .ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
